@import url(./oops__title.css);
@import url(./oops__description.css);

.oops {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 356px;
  margin: auto;
}


@media all and (max-width: 650px) {
  .oops {
    width: 100%;
  }
}
