@import url(author__container.css);
@import url(author__avatar-wrapper.css);
@import url(author__avatar.css);
@import url(author__info.css);
@import url(author__about.css);
@import url(author__description.css);



.author {
  padding-top: 80px;
  padding-bottom: 80px;
}


@media all and (max-width: 786px) {
  .author {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}

@media all and (max-width: 786px) {
  .author {
    padding-top: 32px;
    padding-bottom: 80px;
  }
}
