@import url(../logo/logo.css);
@import url(../menu/menu.css);

.header {
  height: 80px;
  padding: 0 7.22%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  /*background: black;*/
  color: var(--color-main-white);

  /*background: rgba(196, 196, 196, 0.01);*/
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);

  position: absolute;
  top: 0;
  left: 0;
}

.header_white {
  background: transparent;
  color: var(--color-main-primary);
}

.header__auth {
  height: 48px;
  font-weight: 500;
  background: transparent;
  color: inherit;

  border: 1px solid var(--color-main-white);
  box-sizing: border-box;
  border-radius: 100px;
  padding: 0 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  outline: none;
}


.header__auth-exit {
  fill: var(--color-main-white);
  margin-left: 10px;
}

.header_white .header__auth {
  border: 1px solid var(--color-main-primary);
}

.header_white .header__auth-exit {
  fill: var(--color-main-primary);
}


.header_menu-is-opened {
  background: var(--color-main-primary);
}

.header__menu-icon_open {
  display: none;
}
.header__menu-icon_close {
  display: none;
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;

  display: none;
  z-index: -1;
}

@media all and (max-width: 768px) {
  .header {
    font-size: 16px;
    height: 66px;
    position: relative;
  }

  .header__logo {
    margin-right: 40px;
  }
}

@media all and (max-width: 650px) {
  .header {
    font-size: 18px;
    line-height: 56px;
    height: 56px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__menu {
    width: 100%;
    position: absolute;
    top: 56px;
    left: 0;
    background: var(--color-main-primary);
    padding: 16px 7.22% 24px 7.22%;
    box-sizing: border-box;

    display: none;
  }

  .header__auth {
    margin-top: 22px;
    width: 100%;
    display: block;
  }

  .header_white .header__menu-icon {
    fill: var(--color-main-primary);
  }

  .header__menu-icon_open {
    display: block;
  }


  .header__menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: var(--color-main-white);
  }

  .header_menu-is-opened .header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header_menu-is-opened .header__overlay {
    display: block;
  }

  .header_menu-is-opened .header__menu-icon_open {
    display: none;
  }
  .header_menu-is-opened .header__menu-icon_close {
    display: block;
  }


}

@media all and (max-width: 320px) {
  .header {
    font-size: 18px;
    line-height: 56px;
    height: 56px;
    padding: 0 5%;
  }

  .header__menu {
    padding: 16px 5% 24px;
  }
}
