.result__prompt {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /*display: flex;*/
  align-items: center;
  padding: 0 7px;
  margin-right: 5px;

  background-color: var(--color-main-white);

  color: #000000;

  border-radius: 10px;

  display: none;
}

@media all and (max-width: 768px) {
  .result__prompt {
    width: 130px;
  }
}

@media all and (max-width: 320px) {
  .result__prompt {
    width: fit-content;
  }
}
